<h4>Add Book to List </h4>

<% form_for @book, url:{action:'books/create'}, html:{class: 'new_form'} do |f| %>

Author: <%= f.text_field :author %>
Title: <%= f.text_field :title %>
Genre: <%= f.text_field :genre %>
Description: <%= f.text_field :description %>
Author: <%= f.text_field :author %>

<%= f.submit 'Add Item' %>


<% end %>
<li><a href='books'>Back to List</a></li>
